@model Cliff_Single_Portfolio_Page.Models.Email
@{
	Layout = null;
}


<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Cliff's Portfolio</title>

	<link href="~/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="~/Assets/HTML/css/bootstrap.css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/Assets/HTML/css/style.css" />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="~/Assets/HTML/js/html5shiv.js"></script>
	  <script src="~/Assets/HTML/js/respond.min.js"></script>
	<![endif]-->
</head>


<body data-spy="scroll" data-target="#my-nav">

	<!-- Navigation Bar -->
	<div class="navbar navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<!--<a class="navbar-brand" href="#"><img class="logo" src="~/Assets/HTML/assets/logo.png" alt=""></a>-->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<nav id="my-nav" class="navbar-collapse collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#welcome">Home</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#testimonials">Philosophy</a></li>
					<li><a href="#blog">Blog</a></li>
					<li><a href="#team">About</a></li>
					@*<li><a href="#services">Services</a></li>*@
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav><!--/.navbar-collapse -->

		</div>
	</div>
	<!-- End of Navigation Bar -->
	<!-- Welcome Section -->
	<section id="welcome" class="parallax welcome-section photo-section dark-section light-content parallax">
		<div class="bg-overlay"></div>
		<div class="container">
			<div class="content-wrapper">
				<div class="welcome-content">
					<h1 class="special-heading light-special">Cliff Koenig</h1>
					<p>
						<span>
							MY PURPOSE IS TO HELP YOU BUILD SOLUTIONS
							@*LET'S CLIMB TO THE TOP*@

						</span>
						<span class="rotating-words">Full-Stack Development, Teamwork and Debugging, SDLC Process</span>
					</p>
					<div class="social-icons light-icons">
						@*<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>*@
					</div>
					<div class="scroll-more">
						<span>Scroll down</span>
						<i class="scroll-arrow"></i>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Welcome Section -->
	<!-- Portfolio Section -->
	<section id="portfolio" class="portfolio-section light-section dark-content">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="special-heading dark-special">Projects</h1>
					<p class="section-description">I have developed a variety of projects that showcase an understanding of front-end website design, back-end database utilization and mobile applications.</p>
				</div>
			</div>

			@*<a href="" data-toggle="modal" data-target="#max">See My Work</a>*@

			<div class="main">
				<ul id="og-grid" class="og-grid">
					<li class="portfolio-item visible-item" data-id="add-ons graphics">

						@*<a href="https://" data-largesrc="~/Assets/HTML/assets/imagebloglayout-resized670-440.png" data-category="Add-Ons Graphics" data-date="February 26, 2018" data-title="Personal Blog" data-description="The blog application and created the database using Code First Migrations with LINQ and Entity Framework. Additional technologies utilized include CK Editor and Syntax Highlighter. The CK Editor allows the administrator to display different fonts and color schemes. ">*@
						<h3>Blog Website</h3>
						@*<p>Designed a blog website for posting brief thoughts, guidance or opinion pieces.</p>*@
						<img src="~/Assets/HTML/assets/imagebloglayout-resized670-440.png" alt="Breath - Vintage Text Styles" />
						<div class="overlay-content">
							<h3><a href="https://cliffblog.azurewebsites.net/CliffBlogPosts">See Blog Website</a></h3>
						</div>

					</li>
					<li class="portfolio-item visible-item" data-id="graphics">
						@*<a href="" data-largesrc="~/Assets/HTML/assets/bugtracker-page-001.png" data-category="Graphics" data-date="Coming Soon" data-title="Bug Tracker" data-description="<p>	Methodically designed and developed a multi-functional project/issue tracker web application, integrating enhanced roles, security and file uploading features. Employed SQL Server using Code First Relational database design.						</p><h4>Technologies used include:</h4><ul><li>.Net Framework v. 4.6.1</li><li>C# and MVC6</li><li>LINQ</li><li>SQL</li><li>Entity Framework</li><li>jQuery DataTables</li></ul> ">*@
						<h3>Bug Tracker</h3>
						@*<p>To be added at a later date.</p>*@
						<img src="~/Assets/HTML/assets/bugtracker-page-001.png" @*alt="Business Card Mockups - pack 2"*@>
						<div class="overlay-content" />
						<h3>@Html.ActionLink("See Demo", "ComingSoon", "Home")</h3>
				</ul>
			</div>


		</div>

	</section>
	<!-- End of Portfolio Section -->
	<!-- Testimonials Section -->
	<section id="testimonials" class="parallax testimonials-section photo-section dark-section light-content">
		<div class="bg-overlay"></div>
		<div class="container">
			<h1 class="special-heading light-special">Philosophy</h1>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="quote-separator"></div>
					<div id="testimonials-rotator" class="testimonials-rotator">
						<div class="testimonial">
							<blockquote>
								<p>CODING</p>
								<footer>Software is constantly changing. I am eager to learn new languages and platforms. Keeping up-to-date on new trends can potentially improve efficiency which is valuable to everyone.</footer>
							</blockquote>
						</div>
						<div class="testimonial">
							<blockquote>
								<p>FULL-STACK DEVELOPMENT</p>
								<footer> @*Understanding A to Z.*@ Software development involes an array of tools and technologies to create professional and user-friendly applications. Having experience in front-end and back-end development allows me to assist with various duties and reduces the potential for negative impacts on other functions.</footer>
							</blockquote>
						</div>
						<div class="testimonial">
							<blockquote>
								<p>TEAMWORK</p>
								<footer>Communication is key to creating functional applications. I am happy to assist as "another set of eyes" or in debugging tasks. Likewise, I am comfortable asking for assistance if I am spinning my wheels on a solution. </footer>
							</blockquote>
						</div>
						<div class="testimonial">
							<blockquote>
								<p>SDLC PROCESS</p>
								<footer>Be adaptable to various development and business processes. I am comfortable in supporting various SDLC processes including Agile, Waterfall and V-Model.   </footer>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Testimonials Section -->
	<!-- Blog Section -->
	<section id="blog" class="blog-section light-section dark-content">
		<div class="container">
			<h1 class="special-heading dark-special">Recent Blog Posts</h1>

			<div class="row">
				<div class="col-sm-4 post-col">
					<figure><img src="~/Assets/HTML/assets/frustrated-960x540.png" alt=""></figure>
					<h2>Mastering Frustration</h2>
					<p>Learning to code can be quite frustrating at times.</p>
					<a href="https://cliffblog.azurewebsites.net/CliffBlogPosts/Details/mastering-frustration" class="btn read-more">Read More</a>
				</div>
				<div class="col-sm-4 post-col">
					<figure><img src="~/Assets/HTML/assets/20171125_095816-bbbb-960x540.png" alt=""></figure>
					<h2>Peru</h2>
					<p>Always nice to get away!</p>
					<a href="https://cliffblog.azurewebsites.net/CliffBlogPosts/Details/peru" class="btn read-more">Read More</a>
				</div>
				<div class="col-sm-4 post-col">
					<figure><img src="~/Assets/HTML/assets/365728-636190610546181732-16x9-960x540.png" alt=""></figure>
					<h2>Teamwork</h2>
					<p>Software development requires teamwork.</p>
					<a href="https://cliffblog.azurewebsites.net/CliffBlogPosts/Details/teamwork" class="btn read-more">Read More</a>
				</div>
			</div>

			<div class="text-center">
				<a href="https://cliffblog.azurewebsites.net/CliffBlogPosts" class="btn btn-outline btn-darkblue more-blog">See Blog Posts</a>
			</div>






		</div>
	</section>
	<!-- End of Blog Section -->
	<!-- Team Section -->
	@*<section id="team" class="team-section light-section dark-content">*@
	<section id="team" class="parallax services-section photo-section light-section dark-content">
		<div class="bg-overlay"></div>
		<div class="container">
			<h1 class="special-heading light-special">About me</h1>
			@*<section id="team" class="parallax services-section photo-section dark-section light-content">
				<div class="bg-overlay"></div>
				<div class="container">
					<h1 class="special-heading light-special">About Me</h1>*@

			<div class="row">
				<div class="col-md-4">
					<div class="team-member">
						<div class="profile-picture">
							<figure><img src="~/Assets/HTML/assets/cliff tux 2.jpg" /></figure>
							<div class="profile-overlay"></div>
							<div class="profile-social">
								<div class="icons-wrapper">
									@*<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>*@
								</div>
							</div>
						</div>
						@*<h3><a href="#">Cliff Koenig</a></h3>*@
						<h3><span>Experience</span></h3>
						<div class="team-bio">
							<p>My skills include development of web based applications on the ASP.NET framework. My past experience includes leading and working with teams of professionals to design, permit and construct large scale environmental projects to remediate contamination.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team-member">
						<div class="profile-picture">
							<figure><img src="~/Assets/HTML/assets/CliffKoenigsquare12.jpg" alt=""></figure>
							<div class="profile-overlay"></div>
							<div class="profile-social">
								<div class="icons-wrapper">
									@*<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>*@
								</div>
							</div>
						</div>
						@*<h3><a href="#">Jennifer Smith</a></h3>*@
						<h3><span>TECHNOLOGIES UTILIZED</span></h3>
						<div class="team-bio">
							<p>C#/MVC, HTML5, CSS3, BOOTSTRAP, JS & jQuery, LINQ, SQL, Entity Framework, jQuery DataTables.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team-member">
						<div class="profile-picture">
							<figure><img src="~/Assets/HTML/assets/race_2403_photo_223.jpg" alt=""></figure>
							<div class="profile-overlay"></div>
							<div class="profile-social">
								<div class="icons-wrapper">
									@*<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>*@
								</div>
							</div>
						</div>
						@*<h3><a href="#">Silviu Stefu</a></h3>*@
						<h3><span>HOBBIES</span></h3>
						<div class="team-bio">
							<p>I enjoy participating in several sports including beach volleyball, mudruns and softball. I appreciate traveling to different countries to broaden my view of the world.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of About Cliff Section -->
	<!-- Contact Section -->
	<section id="contact" class="contact-section light-section dark-content">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="special-heading dark-special">Drop me a line</h1>
					<p class="section-description">Feel free to send me an email if you are interested in discussing coding and employment opportunities. </p>
					<div class="row contact-informations">

						@using (Html.BeginForm("Contact", "Home"))
						{
							@Html.AntiForgeryToken()
							@Html.ValidationSummary("", new { @class = "text-danger" })
							@*@Html.Hidden(Model.Subject = "Portfolio Contact Email")*@
							<div id="result"></div>

							<form id="contact_form" class="contact-form" action="contact.php" method="post">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											@Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })

											@Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
											@Html.ValidationMessageFor(m => m.FromName)
											@*<input type="text" class="form-control input-lg" id="nameinput" placeholder="Name" name="FromName">*@
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											@Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })

											@Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "example@email.com" })
											@Html.ValidationMessageFor(m => m.FromEmail)
											@*<input type="email" class="form-control input-lg" id="emailinput" placeholder="Email" name="VisEmail">*@
										</div>
									</div>
								</div>
								<div class="form-group">
									@Html.LabelFor(m => m.Body, new { @class = "col-md-2 control-label" })

									@*@Html.TextBoxFor(m => m.Body, new { @class = "form-control",  })*@
									<textarea class="form-control" rows="10" name="Body" placeholder="Message"></textarea>
									@Html.ValidationMessageFor(m => m.Body)
									@*<textarea class="form-control" rows="10" name="Body" placeholder="Message"></textarea>*@
								</div>
								<div class="form-group">

									@*Do I add confirm statement for input of 7??? generate random numbers between 1-9  add if input equals sum then show submit button*@
									@*<input type="text" class="form-control input-lg" id="humaninput" placeholder="5 + 2 =" name="human">*@
								</div>
								<div class="form-group">
									@*@if ()*@
									<input type="submit" class="btn btn-outline-white btn-big" value="Send Email">
								</div>
							</form>

						}






						<!--<span>contact@mysite.com</span>-->
					</div>
				</div>
				@*<div class="col-sm-4">
					<div class="contact-info clearfix">
						<i class="fa fa-phone"></i>*@
				<!--<span>235 214 2326</span>-->

			</div>
		</div>

	</section>
	<!-- End of Contact Section -->
	<!-- Footer -->
	<section id="map" class="map-section" data-lat="44.86056" data-long="24.86778" data-zoom="17" data-map-type="satellite">
		<!-- <div id="map-canvas" style="width:100%; height:400px;" class="googleMap"></div> -->
	</section>


	<!-- Footer -->
	<footer class="footer photo-section dark-section light-content">
		<div class="bg-overlay"></div>
		<div class="container">

		</div>
	</footer>

	<div class="scrolltotop">
		<i class="fa fa-chevron-up"></i>
	</div>
	<!-- End of Footer -->
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- BOOTSTRAP MODAL -->
	@*<div class="modal fade" id="max" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h1 class="modal-title" id="myModalLabel">Max of Five</h1>
					<div class="col-sm-7 margin-small">
						<pre class="brush: js;">
function getFactorial() {
    $("#factorialResult").html(factorial(parseInt($("#factorialNum").val())));
}

function factorial(num) {
    if (num === 0) {
        return 1;
    }
    return num * factorial(num - 1);
}
	</pre>
					</div>

				</div>
				<div class="modal-body col-sm-12">
				</div>
				<div class="modal-footer no-margin">
				</div>
			</div>
		</div>
	</div>*@



	<!-- JQuery -->
	<script src="~/Scripts/jquery-1.10.2.js">type = "text/javascript" ></script>

	<!-- Syntax Highlighter -->
	@*<script src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
	<script src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>

	<script>
		SyntaxHighlighter.all();
	</script>*@







	<!-- Placed at the end of the document so the pages load faster -->

	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="~/Assets/HTML/js/bootstrap.min.js"></script>
	<script src="~/Assets/HTML/js/modernizr.custom.47152.js"></script>
	<script src="~/Assets/HTML/js/modernizr-ie.js"></script>
	<script src="~/Assets/HTML/js/jquery.easing.1.3.min.js"></script>
	<script src="~/Assets/HTML/js/waypoints.min.js"></script>
	<script src="~/Assets/HTML/js/jquery.textrotator.min.js"></script>
	<script src="~/Assets/HTML/js/jquery.simple-text-rotator.min.js"></script>
	<script src="~/Assets/HTML/js/grid.js"></script>
	<script src="~/Assets/HTML/js/jquery.nicescroll.min.js"></script>
	<script src="~/Assets/HTML/js/slick.min.js"></script>
	<script src="~/Assets/HTML/js/scripts.js"></script>

</body>
</html>



@*Errors caught in publishing*@
			@*scripts.js:74 Uncaught TypeError: $(...).waypoint is not a function
			at HTMLDocument.<anonymous>	(scripts.js:74)
	at j (jquery-latest.min.js:2)
	at Object.fireWith [as resolveWith] (jquery-latest.min.js:2)
	at Function.ready (jquery-latest.min.js:2)
	at HTMLDocument.J (jquery-latest.min.js:2)
				
				
				
				
		/favicon.ico		
				*@
